@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #ABDCFF;
}

.social-wrapper {
  background-color: none;
  padding: 5px;
  position: sticky;
  top: 0;
}

.social-wrapper li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

.social-wrapper a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.social-wrapper a:hover {
  font-weight: bold;
}

#gallery {
  background-color: #ABDCFF;
}

section {
  padding-top: 5rem;
}
